.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.login__logo {
  background-color: #d32f2f;
  color: white;
  padding: 12px;
  margin-bottom: 12px !important;
  font-size: 35px;
  border-radius: 50%;
}
.login__signin {
  margin-bottom: 15px !important;
}

.login__input {
  margin-bottom: 15px !important;
  width: 370px;
}

.login__button {
  margin: 10px !important;
  width: 370px;
}

.login__register {
  padding-right: 130px;
  color: #5e2691;
}
.login__copyright {
  margin-top: 30px;
}
.login__copyright p {
  color: gray;
  font-size: 17px;
}
.login__copyright a {
  color: #5e2691;
}
